.aspect {
  @media (hover) {
    a {
      &:hover {
        color: #fff;
        &::before {
          content: "";

          position: fixed;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          background-repeat: no-repeat;
          background-size: cover;

          z-index: -1;
          animation: opacity 400ms;
        }
      }
    }
  }

  &--past {
    @media (hover) {
      a {
        &:hover {
          background-color: rgb(148, 84, 0);

          &::before {
            background-image: url(../images/past.jpg);
            background-position: 0 50%;
          }
        }
      }
    }
  }

  &--present {
    @media (hover) {
      a {
        &:hover {
          background-color: rgb(148, 0, 7);
          &::before {
            background-image: url(../images/present.jpg);
            background-position: 0 0;
          }
        }
      }
    }
  }

  &--future {
    @media (hover) {
      a {
        &:hover {
          background-color: rgb(106, 0, 148);
          &::before {
            background-image: url(../images/future.jpg);
            background-position: 0 50%;
          }
        }
      }
    }
  }
}
